img{
	display: block;
	margin: 40vh auto;
	-webkit-touch-callout: none; /*dit voorkomt selecteren van de dobbelsteen */
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

p{
    font-family: sans-serif;
    font-weight: bold;
    color: red;
    font-size: 2em;
    text-align: center;
    margin-top: -35vh;
}

body{
	background: #000;
}

.even{
    background: green;
}

.oneven{
    background: darkred;
}

.epicwin{
    background-image: url(/images/Feest.jpg);
    width: 100%;
}
